*/**/node_modules/
*/**/bower_components/
*/test/


work/*/img/
work/*/publish/
work/*/src/
work/*/dist/
work/*/data/
work/*/*.html
work/*/*.js
work/*/*.json
work/M3_RushBuyModule/build/
game/
other/M3_diamond_201805/
other/M3_diamond_201806/
work/wxShare/app/img/share.jpg
