
$w-container: 360px;
$row: 8;
$column: 8;


#container{
    position: fixed;
    width: $w-container;
    top: 30%;
    left: 50%;
    margin-left: - $w-container / 2;
}


td {
    cursor: pointer;
    width: $w-container / $column;
    height: $w-container / $row;
}


// pic
.pic {
    &-link {
        width: $w-container / $column - 5;
        height: $w-container / $row - 5;
        border-radius: 5px;
    }
}
