* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

$bg-normal: #555;
$bg-border: #eee;
$bg-crt: rgb(221, 123, 4);
$bg-line: darkred;
$border-gray: 5px solid $bg-border;
$border-crt: 2px solid rgb(255, 177, 31);
body {
    font: normal 12px/1.8 "微软雅黑";
}

h1 {
    padding: 50px 0 20px;
    text-align: center;
}

#btn-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 32px;
    a {
        letter-spacing: 1px;
        width: 80px;
        height: 32px;
        background-color: #000;
        color: #fff;
        border-radius: 8px;
        text-decoration: none;
    }
}

.btn-item {
    margin: 0 5px;
}

#fn-time {
    font-size: 16px;
    font-weight: bold;
    color: gray;
    padding-left: 30px;
    height: 32px;
    background: url("../img/clock.png") no-repeat 0 center;
    background-size: 24px 25px;
}

.fn-hide {
    display: none !important;
}

#container {
    overflow: hidden;
    position: relative;
}

#app {
    background: $bg-border;
    height: 0;
}

#line1,
#line2,
#line3 {
    @extend .animated-slow;
    display: none;
    position: absolute;
    background-color: $bg-line;
    &:after,
    &:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $bg-line;
    }
    &:before {
        top: -2px;
        left: -2px;
    }
    &:after {
        bottom: -2px;
        right: -2px;
    }
    &.fn-show {
        display: block;
        @extend .fadeIn;
    }
}

table {
    margin: 0 auto;
}

img {
    width: 100%;
    vertical-align: top;
}

td {
    border-right: $border-gray;
    border-bottom: $border-gray;
}

// pic
.pic {
    &-link {
        @extend .animated;
        display: block;
        background: no-repeat 0 0;
        background-size: 100% 100%;
        box-shadow: 0 0 0 2px #fff;
        &.fn-crt {
            border: $border-crt;
        }
    }
    &-true {
        @extend .flipInY;
        background: $bg-crt !important;
    }
    &-false {
        @extend .shake;
    }
}

////////////////////////////////////////////////////////////
//// animate 
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated-slow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
        transform: perspective(400px) rotateY(-10deg)
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg)
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }
}

@keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        -ms-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
        -ms-transform: perspective(400px) rotateY(-10deg);
        transform: perspective(400px) rotateY(-10deg)
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
        -ms-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg)
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        -ms-transform: perspective(400px) rotateY(0deg);
        transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }
}

.flipInY {
    -webkit-backface-visibility: visible!important;
    -ms-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px)
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
        transform: translateX(2px)
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake
}

@-webkit-keyframes fadeIn {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

// pic arr 
@each $pic in 10005,
20005,
30005,
40005,
60005,
80005,
90005,
100005,
120005,
130005,
140005,
150005,
160005,
170005,
180005,
190005,
200005,
210005,
220005,
230005,
240005,
250005,
270005,
280005,
300005,
310005,
320005,
320005 {
    .pic-#{$pic} {
        background-image: url("../img/#{$pic}.png");
    }
}