
$w-container: 480px;
$row: 8;
$column: 8;


#btn-bar{
    padding: 20px 0;
}
#container {
    margin: 0 auto;
    width: $w-container;
    // height: $w-container;
}


td {
    cursor: pointer;
    width: $w-container / $column;
    height: $w-container / $row;
}


// pic
.pic {
    &-link {
        width: $w-container / $column - 5;
        height: $w-container / $row - 5;
        border-radius: 5px;
    }
}